body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overlay_container {
  position: relative;
  /* border: 1px solid black; */
  display: inline-block;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: #eee;
}

.overlay_container:hover .overlay {
  opacity: 0.8;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.overlay_fade {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: gray;
}

/* media query */

@media only screen and (min-width: 768px) {
  .product {
    margin-left: 3%;
  }
}
